matplotlib
numpy
scipy
pyqt5
ipympl
pyvisa
jupyterlab
PyQt5-Frameless-Window
rpyc
cryptography

# pyvisa-py, nidaqmx, pulsestreamer, spinapi, pythonnet
# pythonnet for clr module used for TLB6700, different from 'pip install clr'